# RAC step 1 in a GTO basis

Old:
1. Doesn't use the **GRB** class.
2. Only uncontracted basis functions.

Three artifical stabilizing potentials:
1. Increase of the Jolanta parameter *b*
2. Add a Coulomb to **H**
3. Add a soft-box to **H**

In [3]:
show_plots=True

In [1]:
import numpy as np
from scipy.linalg import eigh, eigvalsh
import matplotlib.pyplot as plt
%matplotlib qt5
#import matplotlib
#matplotlib.use('Qt5Agg')
import pandas as pd

In [2]:
import sys
sys.path.append('../../Python_libs')
import dvr
from GTO_basis import Jolanta_3D_PNorm, Jolanta_3D_GTO, Jolanta_GTO_H
from GTO_basis import Jolanta_3D_Coulomb, Jolanta_3D_softbox
from GTO_basis import Jolanta_GTO_H, Jolanta_GTO_W
from GTO_basis import Eval_GTO_wf_3D
from jolanta import Jolanta_3D

In [8]:
amu_to_au=1822.888486192
au2cm=219474.63068
au2eV=27.211386027
Angs2Bohr=1.8897259886

In [9]:
#
# Jolanata parameters a, b, c:
#
#    bound state:  -12.26336 eV
#    resonance: (3.279526396 - 0.2079713j)  eV
jparam=(0.028, 1.0, 0.028)

* Create a GTO basis set $[\alpha_0, \alpha_1, ...]$ and $[N_0, N_1, ...]$
* Build **S**, **T**, and **V**
* Diagonalize **H**
* Compare $E_0$ to DVR: $E_0^{DVR}$ = -7.17051 eV

In [10]:
sets=['GTO1', 'GTO2', 'GTO3']
bas = sets[0]
print(bas)
if bas == 'GTO1':
    """ val: (4, 1.6e-2); last = 2.8e-3"""
    nval=6
    a0=4
    s=3
    ndiff=0
    s_diff=1.4
elif bas == 'GTO2':
    """ val: (16, 1.45e-3); last = 1.8e-3"""
    nval=9
    a0=16.0
    s=2.4
    ndiff=0
    s_diff=1.4
elif bas == 'GTO3':
    """ (16, 1.56e-3); last = 1.9e-3"""
    nval=11
    a0=16.0
    s=2
    ndiff=0
    s_diff=1.4
else:
    print('No such basis.')

GTO1

### Valence set
Compare the bound state with DVR: $E_0 = -7.17051$ eV

In [11]:
alpha_val=[a0]
for i in range(nval-1):
    alpha_val.append(alpha_val[-1]/s)
N_val=[]
for a in alpha_val:
    N_val.append(Jolanta_3D_PNorm(a))
    
S, T, V = Jolanta_GTO_H(alpha_val, N_val, jparam)
Es, cs = eigh(T+V, b=S)

print("E0=", Es[0]*au2eV)
print("       alpha          c_gs[alpha]   1/sqrt(alpha)  Norm")
for i, a in enumerate(alpha_val):
    print("%17.8e    %11.4e    %10.4e    %10.4e" % (a, cs[i,0], np.sqrt(1/a), N_val[i]))

E0= -7.157620369021858
       alpha          c_gs[alpha]   1/sqrt(alpha)  Norm
   4.00000000e+00    -6.2333e-04    5.0000e-01    1.6503e+01
   1.33333333e+00     3.0511e-03    8.6603e-01    4.1798e+00
   4.44444444e-01    -5.1863e-03    1.5000e+00    1.0587e+00
   1.48148148e-01     8.4495e-01    2.5981e+00    2.6814e-01
   4.93827160e-02     2.2807e-01    4.5000e+00    6.7913e-02
   1.64609053e-02    -3.9599e-02    7.7942e+00    1.7201e-02

In [12]:
if show_plots:
    xmax=25
    xs=np.linspace(0.1,xmax,200)
    Vs=Jolanta_3D(xs, jparam)

    scale=10
    Emax=10
    plt.cla()
    plt.plot(xs,Vs*au2eV, '-', color="blue")
    for i in range(nval):
        if Es[i] > Emax:
            break
        ys=Eval_GTO_wf_3D(alpha_val, N_val, cs[:,i], xs, u=True)
        plt.plot(xs,scale*ys**2+Es[i]*au2eV, '-')

    plt.ylim(-8,10)
    plt.show()

## RAC by increasing $b$

The last energy needs to be about $7E_r \approx 22$eV

In [26]:
a_ref, b_ref, c_ref = jparam

b_min=b_ref
b_max=2.6
nEs_keep=4    # how many energies are kept

n_b=101

bs=np.linspace(b_min, b_max, num=n_b, endpoint=True)

run_data = np.zeros((n_b, nEs_keep+1))  # array used to collect all eta-run data
run_data[:,0]=bs

for l, b_curr in enumerate(bs):
    param = [a_ref, b_curr, c_ref]
    S, T, V = Jolanta_GTO_H(alpha_val, N_val, param)
    energy = eigvalsh(T+V, b=S)
    run_data[l,1:] = au2eV*energy[0:nEs_keep]
    print(l+1, end=" ")
    if (l+1)%10==0:
        print()

print('\nLast point:')
print(run_data[-1,:])

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100
101
Last point:
[  2.6        -42.302404   -21.78280579  -8.16932864   1.01068071]

In [27]:
plt.cla()
for i in range(0, nEs_keep):
    plt.plot(bs, run_data[:,i+1], 'o-')
plt.ylim(-25,5)
plt.xlabel('$b$')
plt.ylabel('$E$ [eV]')
plt.show()

In [18]:
cols = ['z']
for i in range(nEs_keep):
    cols.append('E'+str(i+1))
df = pd.DataFrame(run_data, columns=cols)
fname = 'rac_' + bas + '_b-scale.csv'
df.to_csv(fname, index=False)
df.head(5)

       z        E1        E2        E3         E4
0  1.000 -7.157620  3.075487  4.721781  22.496246
1  1.016 -7.492550  2.926867  4.606664  22.152999
2  1.032 -7.828048  2.768477  4.501205  21.810402
3  1.048 -8.164102  2.601167  4.404525  21.468469
4  1.064 -8.500697  2.425920  4.315613  21.127215

## RAC with Coulomb potential

$\mathbf{H}(\lambda) = \mathbf{H} - \frac{\lambda}{r}$

In [19]:
l_min=0.0
l_max=2.6
nEs_keep=4    # how many energies are kept

npts=101

ls=np.linspace(l_min, l_max, num=npts, endpoint=True)

run_data = np.zeros((npts, nEs_keep+1))  # array used to collect all eta-run data
run_data[:,0]=ls

S, T, V = Jolanta_GTO_H(alpha_val, N_val, jparam)
W = Jolanta_GTO_W(Jolanta_3D_Coulomb, alpha_val, N_val, 1.0)

for j, l_curr in enumerate(ls):
    VpW = V + l_curr*W
    energy = eigvalsh(T+VpW, b=S)
    run_data[j,1:] = au2eV*energy[0:nEs_keep]
    print(j+1, end=" ")
    if (j+1)%10==0:
        print()

print('\nLast point:')
print(run_data[-1,:])

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100
101 [  2.6        -45.26924048 -21.7154092   -7.49471638  -2.79882043]

In [23]:
plt.cla()
for i in range(0, nEs_keep):
    plt.plot(ls, run_data[:,i+1], 'o-')
plt.ylim(-25,5)
plt.xlabel('$\lambda$')
plt.ylabel('$E$ [eV]')
plt.show()

In [20]:
cols = ['z']
for i in range(nEs_keep):
    cols.append('E'+str(i+1))
df = pd.DataFrame(run_data, columns=cols)
fname = 'rac_' + bas + '_coulomb.csv'
df.to_csv(fname, index=False)
df.head(5)

       z        E1        E2        E3         E4
0  0.000 -7.157620  3.075487  4.721781  22.496246
1  0.026 -7.430125  2.937300  4.594006  22.103908
2  0.052 -7.704192  2.794894  4.470095  21.712583
3  0.078 -7.979833  2.648357  4.349926  21.322306
4  0.104 -8.257059  2.497819  4.233332  20.933115

## RAC with soft-box

$\mathbf{H}(\lambda) = \mathbf{H} - \lambda \mathbf{W}\;$ with 
$\;\mathbf{W}(r) = \exp(-4r_c^2/r^2) - 1$

For Jolanta, $r_c = 3\,a_0$

In [22]:
l_min=0.0
l_max=1.2
nEs_keep=4    # how many energies are kept

npts=101

ls=np.linspace(l_min, l_max, num=npts, endpoint=True)

run_data = np.zeros((npts, nEs_keep+1))  # array used to collect all eta-run data
run_data[:,0]=ls

S, T, V = Jolanta_GTO_H(alpha_val, N_val, jparam)
W = Jolanta_GTO_W(Jolanta_3D_softbox, alpha_val, N_val, 3.0)

for j, l_curr in enumerate(ls):
    VpW = V + l_curr*W
    energy = eigvalsh(T+VpW, b=S)
    run_data[j,1:] = au2eV*energy[0:nEs_keep]
    print(j+1, end=" ")
    if (j+1)%10==0:
        print()

print('\nLast point:')
print(run_data[-1,:])

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100
101
Last point:
[  1.2        -38.57268975 -21.20182523  -8.6456432   -4.27364964]

In [24]:
plt.cla()
for i in range(0, nEs_keep):
    plt.plot(ls, run_data[:,i+1], 'o-')
plt.ylim(-25,5)
plt.xlabel('$\lambda$')
plt.ylabel('$E$ [eV]')
plt.show()

In [25]:
cols = ['z']
for i in range(nEs_keep):
    cols.append('E'+str(i+1))
df = pd.DataFrame(run_data, columns=cols)
fname = 'rac_' + bas + '_softbox.csv'
df.to_csv(fname, index=False)
df.head(5)

       z        E1        E2        E3         E4
0  0.000 -7.157620  3.075487  4.721781  22.496246
1  0.012 -7.468155  2.886998  4.563302  22.195786
2  0.024 -7.778809  2.693125  4.410124  21.895522
3  0.036 -8.089581  2.494239  4.261871  21.595458
4  0.048 -8.400469  2.290753  4.118125  21.295598