# RAC step 1 in a GTO basis

Three artifical stabilizing potentials:
1. Increase of the Jolanta parameter *b*
2. Add a Coulomb to **H**
3. Add a soft-box to **H**

In [1]:
show_plots=1  # 0: no plots, 1: RAC plots, 2: all plots

In [2]:
import numpy as np
from scipy.linalg import eigh, eigvalsh
import matplotlib.pyplot as plt
%matplotlib qt5
#import matplotlib
#matplotlib.use('Qt5Agg')
import pandas as pd

In [3]:
import sys
sys.path.append('../../Python_libs')
from GTO_basis import GBR
from jolanta import Jolanta_3D

In [4]:
amu_to_au=1822.888486192
au2cm=219474.63068
au2eV=27.211386027
Angs2Bohr=1.8897259886

In [5]:
#
# Jolanata parameters a, b, c:
#
#    bound state:  -12.26336 eV
#    resonance: (3.279526396 - 0.2079713j)  eV
jparam=(0.028, 1.0, 0.028)

* Create a valence set $[\alpha_0, \alpha_0/s, \alpha_0/s^2, ..., \alpha_N]$
* Diagonalize **H** to compare with $E_0^{DVR}$
* The recommendation for RAC is to use no diffuse function as a diffuse set may spell trouble at threshold, in particular, if with long-range artifical potentials.

In [33]:
sets=['GTO_unc', 'GTO_DZ', 'GTO_TZ']
bas = sets[2]
nval=10
a0=17.0
s=2
ndf=0
sdf=1.5
if bas == 'GTO_unc':
    contract = (0,0)
elif bas == 'GTO_DZ':
    contract = (1,1)  # one contracted, one uncontracted function
elif bas == 'GTO_TZ':
    contract = (1,2)  # one contracted, two uncontracted function
else:
    print('No such basis.')

bas_name=bas+'_'+str(ndf)
print(bas_name)

GTO_TZ_0

### Basis set
* Compare the bound state with DVR: $E_0 = -7.17051$ eV

In [34]:
alpha_val=[a0]
for i in range(nval-1):
    alpha_val.append(alpha_val[-1]/s)
Bas = GBR(alpha_val, jparam, contract=contract, diffuse=(ndf,sdf))
S, T, V = Bas.STV()
Es, cs = eigh(T+V, b=S)
print(f'E0 = {Es[0]*au2eV:.6f}   Emax = {Es[-1]*au2eV:.6f}')
Bas.print_exp()

if show_plots > 1:
    scale=10
    xmax=15
    xs=np.linspace(0.1,xmax,200)
    Vs=Jolanta_3D(xs, jparam)
    plt.cla()
    plt.plot(xs,Vs*au2eV, '-', color="blue")
    for i in range(len(Es)):
        ys=Bas.eval_vector(cs[:,i], xs)
        plt.plot(xs,scale*ys**2+Es[i]*au2eV, '-')
    plt.ylim(-8,10)
    plt.show()

E0 = -7.170439   Emax = 7.526354
      alpha         r0=1/sqrt(alpha)     Norm
   1.70000000e+01    2.42535625e-01    1.0070e+02
   8.50000000e+00    3.42997170e-01    4.2341e+01
   4.25000000e+00    4.85071250e-01    1.7802e+01
   2.12500000e+00    6.85994341e-01    7.4848e+00
   1.06250000e+00    9.70142500e-01    3.1470e+00
   5.31250000e-01    1.37198868e+00    1.3231e+00
   2.65625000e-01    1.94028500e+00    5.5631e-01
   1.32812500e-01    2.74397736e+00    2.3390e-01
   6.64062500e-02    3.88057000e+00    9.8343e-02
   3.32031250e-02    5.48795472e+00    4.1348e-02

## RAC by increasing $b$

The last energy needs to be about $7E_r \approx 22$eV

In [39]:
a_ref, b_ref, c_ref = jparam

b_min=b_ref
b_max=2.5  # uncontracted
b_max=4.0  # DZ
b_max=2.8  # TZ
nEs_keep=2    # how many energies are kept

n_b=101

bs=np.linspace(b_min, b_max, num=n_b, endpoint=True)

run_data = np.zeros((n_b, nEs_keep+1))  # array used to collect all eta-run data
run_data[:,0]=bs

for l, b_curr in enumerate(bs):
    param = [a_ref, b_curr, c_ref]
    Vb = Bas.V_jolanta(param)
    energy = eigvalsh(T+Vb, b=S)
    run_data[l,1:] = au2eV*energy[0:nEs_keep]
    print(l+1, end=" ")
    if (l+1)%10==0:
        print()

print('\nLast point:')
print(run_data[-1,:])

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100
101
Last point:
[  2.8        -46.51913749 -22.55470413]

In [40]:
if show_plots > 0:
    plt.cla()
    for i in range(0, nEs_keep):
        plt.plot(bs, run_data[:,i+1], 'o-')
    plt.ylim(-25,5)
    plt.xlabel('$b$')
    plt.ylabel('$E$ [eV]')
    plt.show()

In [41]:
cols = ['z']
for i in range(nEs_keep):
    cols.append('E'+str(i+1))
df = pd.DataFrame(run_data, columns=cols)
fname = 'rac_' + bas_name + '_b-scale.csv'
print(fname)
df.to_csv(fname, index=False)
df.head(5)

rac_GTO_TZ_0_b-scale.csv

       z        E1        E2
0  1.000 -7.170439  3.298521
1  1.018 -7.546503  3.081174
2  1.036 -7.923260  2.860235
3  1.054 -8.300690  2.635890
4  1.072 -8.678773  2.408328

## RAC with Coulomb potential

$\mathbf{H}(\lambda) = \mathbf{H} - \frac{\lambda}{r}$

In [43]:
l_min=0.0
l_max=2.6  # uncontracted
l_max=5.6  # DZ
l_max=4.0  # TZ


npts=101

ls=np.linspace(l_min, l_max, num=npts, endpoint=True)

run_data = np.zeros((npts, nEs_keep+1))  # array used to collect all eta-run data
run_data[:,0]=ls

W = Bas.V_Coulomb()

for j, l_curr in enumerate(ls):
    VpW = V + l_curr*W
    energy = eigvalsh(T+VpW, b=S)
    run_data[j,1:] = au2eV*energy[0:nEs_keep]
    print(j+1, end=" ")
    if (j+1)%10==0:
        print()

print('\nLast point:')
print(run_data[-1,:])

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100
101
Last point:
[  4.         -55.0153913  -22.57357925]

In [46]:
if show_plots > 0:
    plt.cla()
    for i in range(0, nEs_keep):
        plt.plot(ls, run_data[:,i+1], 'o-')
    plt.ylim(-25,5)
    plt.xlabel('$\lambda$')
    plt.ylabel('$E$ [eV]')
    plt.show()

In [45]:
cols = ['z']
for i in range(nEs_keep):
    cols.append('E'+str(i+1))
df = pd.DataFrame(run_data, columns=cols)
fname = 'rac_' + bas_name + '_coulomb.csv'
print(fname)
df.to_csv(fname, index=False)
df.head(5)

rac_GTO_TZ_0_coulomb.csv

      z        E1        E2
0  0.00 -7.170439  3.298521
1  0.04 -7.587957  3.047132
2  0.08 -8.008184  2.793364
3  0.12 -8.431057  2.537413
4  0.16 -8.856508  2.279476

## RAC with soft-box

$\mathbf{H}(\lambda) = \mathbf{H} - \lambda \mathbf{W}\;$ with 
$\;\mathbf{W}(r) = \exp(-4r_c^2/r^2) - 1$

For Jolanta, $r_c = 3\,a_0$

In [50]:
l_min=0.0
l_max=1.2  # uncontracted
l_max=1.6  # DZ
l_max=1.3  # TZ

rc=3.0


npts=101

ls=np.linspace(l_min, l_max, num=npts, endpoint=True)

run_data = np.zeros((npts, nEs_keep+1))  # array used to collect all eta-run data
run_data[:,0]=ls

W = Bas.V_softbox(rc)

for j, l_curr in enumerate(ls):
    VpW = V + l_curr*W
    energy = eigvalsh(T+VpW, b=S)
    run_data[j,1:] = au2eV*energy[0:nEs_keep]
    print(j+1, end=" ")
    if (j+1)%10==0:
        print()

print('\nLast point:')
print(run_data[-1,:])

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100
101
Last point:
[  1.3        -41.20455264 -23.65921876]

In [51]:
if show_plots > 0:
    plt.cla()
    for i in range(0, nEs_keep):
        plt.plot(ls, run_data[:,i+1], 'o-')
    plt.ylim(-25,5)
    plt.xlabel('$\lambda$')
    plt.ylabel('$E$ [eV]')
    plt.show()

In [52]:
cols = ['z']
for i in range(nEs_keep):
    cols.append('E'+str(i+1))
df = pd.DataFrame(run_data, columns=cols)
fname = 'rac_' + bas_name + '_softbox.csv'
print(fname)
df.to_csv(fname, index=False)
df.head(5)

rac_GTO_TZ_0_softbox.csv

       z        E1        E2
0  0.000 -7.170439  3.298521
1  0.013 -7.506676  3.057427
2  0.026 -7.843046  2.814717
3  0.039 -8.179546  2.570440
4  0.052 -8.516174  2.324650